* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Forum', cursive;
  font-weight: 400;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background: black;
}

#root {
  height: 100%;
  width: 100%;
}
