.Page1 {
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.name,
.subtext,
span {
  color: white;
  z-index: 4;
  text-align: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.name h1,
h2 {
  font-size: 50px;
  line-height: 40px;
}

.name h1 {
  color: rgb(187, 159, 0);
  font-size: 50px;
  line-height: 30px;
}

span {
  font-size: 10px;
  line-height: 30px;
}

.subtext {
  font-size: 20px;
}

.subtext span {
  color: rgb(187, 159, 0);
  font-size: 20px;
}
