.Page1 {
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.name,
.subtext,
span {
  color: white;
  z-index: 4;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.name h1,
h2 {
  font-size: 50px;
  line-height: 40px;
}

.name h1 {
  color: rgb(187, 159, 0);
  font-size: 50px;
  line-height: 30px;
}

span {
  font-size: 10px;
  line-height: 30px;
}

.subtext {
  font-size: 20px;
}

.subtext span {
  color: rgb(187, 159, 0);
  font-size: 20px;
}

/* .lineContainer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12.5%;
  top: 12.5%;
  height: 75%;
  width: 75%;
  z-index: 3;
  pointer-events: none;
}

.lineContainer1 div {
  border-left: 1px solid rgb(187, 159, 0);
  height: 100%;
  transform: rotate(45deg);
}

.lineContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12.5%;
  top: 12.5%;
  height: 75%;
  width: 75%;
  z-index: 10;
  pointer-events: none;
  z-index: 1;
}

.lineContainer2 div {
  border-left: 1px solid white;
  height: 100%;
  transform: rotate(135deg);
} */
