@import './animatedText.module.css';

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid transparent;
  background: #1a1a1a;
  background-clip: content-box;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  display: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes bodyOverflow {
  to {
    overflow: auto;
  }
}

body {
  /* overflow: overlay; */
  overflow: hidden;
  background: #1a1a1a;
  animation: bodyOverflow 0.5s ease 3.5s forwards;
}

#__next {
  height: 100%;
  width: 100%;
}

.text-1 {
  font-size: 108px;
  line-height: 90px;
}

.text-2 {
  font-size: 72px;
  line-height: 60px;
}

.text-3 {
  font-size: 48px;
  line-height: 48px;
}

.text-4 {
  font-size: 36px;
  line-height: 36px;
}

.text-5 {
  font-size: 24px;
  line-height: 24px;
}

.text-6 {
  font-size: 16px;
  line-height: 16px;
}

.text-7 {
  font-size: 12px;
  line-height: 12px;
}

/* TABLET */
@media only screen and (max-width: 820px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h4 {
    font-size: 0.775rem;
    line-height: 0.775rem;
  }
}

/* PHONE */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.15rem;
    line-height: 1.15rem;
  }
  h4 {
    font-size: 0.675rem;
    line-height: 0.675rem;
  }
}
