.container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 3;
}

.gridLinesContainer {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}

.gridLine {
  border-right: 1px dashed #828485;
  height: 100%;
}

.gridLine1 {
  width: 10%;
}

.gridLine2,
.gridLine3,
.gridLine4,
.gridLine5 {
  width: 20%;
}
