@keyframes landingPageContainer {
  to {
    height: 0%;
    /* top: -200px; */
  }
}

.container {
  height: calc(100% + 1px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  transition: 0.15s ease-in-out;
  position: relative;
  animation: landingPageContainer 0.5s ease forwards 2.95s;
  border-radius: 0 0 0 0;
  z-index: 10;
}

.bar {
  background: #1a1a1a;
  height: 100%;
  position: relative;
  width: 10%;
}

.bar1,
.bar6 {
  width: 10%;
}

.bar2,
.bar3,
.bar4,
.bar5 {
  width: 20%;
}

.bar1 {
  animation: landingPageContainer 0.5s ease forwards 2.5s;
}
.bar2 {
  animation: landingPageContainer 0.5s ease forwards 2.7s;
}
.bar3 {
  animation: landingPageContainer 0.5s ease forwards 2.8s;
}
.bar4 {
  animation: landingPageContainer 0.5s ease forwards 2.85s;
}
.bar5 {
  animation: landingPageContainer 0.5s ease forwards 2.9s;
}

.gradientShadow {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 100%;
  background-image: linear-gradient(#1a1a1a, #9a9e9f);
}
