@keyframes landingPageContainer {
  to {
    height: 60px;
  }
}

.container {
  z-index: 1002;
  height: calc(100% + 1px);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  transition: 0.15s ease-in-out;
  animation: landingPageContainer 0.5s ease forwards 2.95s;
}

.bar {
  background: #1a1a1a;
  height: 100%;
  position: relative;
  width: 10%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.bar1,
.bar6 {
  width: 10%;
}

.bar2,
.bar3,
.bar4,
.bar5 {
  width: 20%;
}

.bar1 {
  animation: landingPageContainer 0.5s ease forwards 2.5s;
}
.bar2 {
  animation: landingPageContainer 0.5s ease forwards 2.7s;
}
.bar3 {
  animation: landingPageContainer 0.5s ease forwards 2.8s;
}
.bar4 {
  animation: landingPageContainer 0.5s ease forwards 2.85s;
}
.bar5 {
  animation: landingPageContainer 0.5s ease forwards 2.9s;
}
